       <!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Quản trị</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index","TrangChu")"><i class="fa fa-home"></i> Trang chủ <span class=""></span></a>               
            </li>
            <li>
                <a><i class="fa fa-users"></i> Quản lý thành viên <span class="fa fa-unsorted"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index","ThanhVien")">Hồ sơ thành viên</a></li>
                    <li><a href="@Url.Action("Index","LoaiThanhVien")">Loại thành viên</a></li>
                    <li><a href="@Url.Action("Index","QuyenHanThanhVien")">Quyền hạn</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","SanPham")"><i class="fa fa-cubes"></i> Quản lý sản phẩm <span class="fa fa-unsorted"></span></a>     
            </li>
            <li>
                <a href="@Url.Action("Index","DanhMuc")"><i class="fa fa-table"></i> Quản lý danh mục <span class="fa fa-unsorted"></span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","DonHang")"><i class="fa fa-bar-chart-o"></i> Quản lý đơn hàng <span class="fa fa-unsorted"></span></a>              
            </li>
            @*<li>
                <a href="@Url.Action("Index","BaoCao")"><i class="fa fa-clone"></i> Báo cáo  <span class="fa fa-unsorted"></span></a>
            </li>*@
        </ul>
    </div>
    <div class="menu_section">
        <h3>Website</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-desktop"></i> Quản lý giao diện <span class="fa fa-unsorted"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index","Menu")">Phần Menu</a></li>
                    <li><a href="@Url.Action("Index","Footer")">Phần Footer</a></li>
                    <li><a href="@Url.Action("Index","Slide")">Phần Slide</a></li>
                    <li><a href="@Url.Action("Index","TrangGioiThieu")">Trang giới thiệu</a></li>
                    <li><a href="@Url.Action("Index","TrangLienHe")">Trang liên hệ</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->
<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" >
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
