@model PagedList.IPagedList<Model.EF.Slide>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@section header{
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý trang hình ảnh </h3>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="well" style="overflow: auto">
            @using (Html.BeginForm("Index", "Slide", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="text" class="form-control" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-primary float-left"><i class="fa fa-search"></i>Tìm kiếm</button>
                        <a href="@Url.Action("ThemMoi","Slide")" class="btn btn-primary float-left" style="margin-left: 5px;"><i class="fa fa-plus"></i> Thêm mới</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách hình ảnh</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="@item.Image" alt="image" />
                                    <div class="mask">
                                        <p>@item.Name</p>
                                        <div class="tools tools-bottom">
                                            <a href="@Url.Action("ChiTiet", new { @id = item.ID })" data-toggle="tooltip" title="Chi tiết"><i class="fa fa-link"></i></a>
                                            <a href="@Url.Action("CapNhat", new { @id = item.ID })" data-toggle="tooltip" title="Chỉnh sửa"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("Xoa", new { @id = item.ID })" data-toggle="tooltip" title="Xóa"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <p>
                                        @if (item.Status != true)
                                        {
                                            <span class="badge bg-green">@item.DisplayOrder</span> <span>@Html.Raw("Không sử dụng")</span> <i style="color:red" class="fa fa-times-circle-o"></i>
                                        }
                                        else
                                        {
                                            <span class="badge bg-green">@item.DisplayOrder</span> <span>@Html.Raw("Đang sử dụng")</span> <i style="color:green" class="fa fa-check-square-o"></i>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="nav navbar-right panel_toolbox">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
                </div>
            </div>
        </div>
    </div>
</div>

